.mainImage {


    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.imageContainer {

    width: 100%;
    display: flex;
}

.contImg {

    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

@keyframes slide {

    0%{
        transform: translateX(0);
    }
    25%{

        transform: translateX(-25%);
    }
    50% {

        transform: translateX(-75%);
    }
    75% {

        transform: translateX(-110%);
    }
    100% {

        transform: translateX(0%);
    }

}

.imageContainer {

    animation-name: slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.headTopic {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.homeTopic {

    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    display: inline-block; 
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;


}

.topic {

    color: white;
    font-size: 3rem;
    font-weight: bold;  
    margin: 0;
}

@media (max-width:850px) {

    .homeTopic {

        transform: translateY(-20%);
    }

}

@media (max-width:500px) {

    .homeTopic {

        transform: translateY(-10%);
    }
}