/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Nunito:wght@300;400;600&display=swap');


.main-container {
  width: 100%;
  margin: 0 auto;
  text-align:justify;
  font-family:'Nunito', 'Poppins', sans-serif;
  color: #1c3f66;
  background: #f4f8ff;
  
}

/* Hero Section */

.about-hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 25px rgba(0, 60, 112, 0.15);
  
}

.about-hero img {
  width: 100%;
  height: 150%;
  object-fit: cover;
  position: relative;
  top: 40px;
  filter: brightness(90%);
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}



.hero-title {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: white;
  font-weight: 700;  /* Inter bold for hero */
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.65);
  letter-spacing: 2px;
}

.box-container{
  display: flex;
  flex-direction: row;
  width: auto;
  
  margin:50px 20px 10px 20px;
  
}

/* Section Boxes */
.info-section {
  width: 30vw;
  padding: 40px 40px 20px 40px;
  background: #e9f2ff;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 70, 150, 0.12);
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  border-top: 30px solid #2e6ac7;
  margin-left: 125px;
  position: relative;
  
}

.info-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Img on top of the box*/
.info-section img {
  height: 100px;
  position: absolute;
  top: -70px;
  


  inset-inline: 0;
  margin-inline: auto;
  background: #f4f8ff;
  border: 5px solid #2e6ac7;
  border-radius: 50%;
  
}

/* Headings */
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  color: #2a5dc2;
  margin-bottom: 15px;
  font-weight: 600;
  margin-top: -5px;
}

/* Paragraphs */
p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  color: #2f4f75;
  margin-bottom: 14px;
  line-height: 1.7;
  margin-top: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.2rem;
    
  }
  .box-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
  
}

/* Section Boxes */
  .info-section {
    padding: 35px 20px;
    width:100%;
    
  }
  p {
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  
  
  line-height: 1;
  
}
}
